<nz-content>
    <div nz-row class="items-center">
        <div nz-col nzSpan="12">
            <nz-breadcrumb>
                <nz-breadcrumb-item> </nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>
    </div>
    <nz-page-header style="background-color: white" class="site-page-header" nzTitle="Admission Note {{ title }}{{ fname }} {{ lname }} เพศ :
    {{ gender }} อายุ : {{ age }}  AN {{ an }} HN {{ hn }}">
    </nz-page-header>
    <div class="inner-content">
        <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-4 w-full min-w-200 mb-2">
            <div>
                <div class="flex flex-col w-200 w-full content-center">
                    <div class="flex text-sm font-bold">
                        ประวัติการเจ็บป่วย : <br />
                        อาการสำคัญ (CC) : {{ chief_complaint }}<br />
                        อาการเจ็บป่วยปัจจุบัน : {{ present_illness }}<br />
                        อาการเจ็บป่วยในอดีต : {{ past_history }}<br />
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-4 w-full mb-2">
            <div>
                <div class="flex flex-col w-full content-center">
                    <b>Past History : </b>

                    <div class="flex flex-col w-[100%]">
                        <div class="flex flex-row">
                            <div class="w-64 pl-4 pt-4">โรคประจำตัว</div>
                            <div class="pt-4 w-20">
                                <label nz-checkbox [(ngModel)]="is_chronic">ไม่มี</label>
                            </div>
                            <div class="pt-4 w-16">มี(ระบุ)</div>
                            <div class="w-96 pt-2">
                                <input nz-input placeholder="ระบุ โรคประจำตัว" [(ngModel)]="chronic_describe" />
                            </div>
                        </div>

                        <div class="flex flex-row">
                            <div class="w-64 pl-4 pt-4">การแพ้ยา</div>
                            <div class="pt-4 w-20">
                                <label nz-checkbox [(ngModel)]="is_allergy">ไม่แพ้</label>
                            </div>
                            <div class="pt-4 w-16">มี(ระบุ)</div>
                            <div class="w-96 pt-2">
                                <input nz-input [(ngModel)]="allergy_describe" placeholder="ระบุชื่อยา" />
                            </div>
                        </div>

                        <div class="flex flex-row">
                            <div class="w-64 pl-4 pt-4">การผ่าตัด</div>
                            <div class="pt-4 w-20">
                                <label nz-checkbox [(ngModel)]="is_operation">ไม่เคย</label>
                            </div>
                            <div class="pt-4 w-16">มี(ระบุ)</div>
                            <div class="w-96 pt-2">
                                <input nz-input [(ngModel)]="operation_describe" placeholder="ระบุ การผ่าตัด" />
                            </div>
                        </div>

                        <div class="flex flex-row">
                            <div class="w-64 pl-4 pt-4">การสูบบุหรี่</div>
                            <div class="pt-4 w-20">
                                <label nz-checkbox [(ngModel)]="is_smoke">ไม่สูบ</label>
                            </div>
                            <div class="pt-4 w-16">มี(ระบุ)</div>
                            <div class="pt-4 mr-2">ระยะเวลา</div>
                            <div class="pt-2 w-16">
                                <input nz-input [(ngModel)]="smoke_describe_duration" placeholder="10 ปี" />
                            </div>
                            <div class="pt-4 mx-2">จำนวน</div>
                            <div class="pt-2 w-20">
                                <input nz-input [(ngModel)]="smoke_describe_qty" placeholder="2 มวน" />
                            </div>
                            <div class="pt-4 mx-2">ความถี่</div>
                            <div class="pt-2 w-16">
                                <input nz-input [(ngModel)]="smoke_describe_frequency" placeholder="ต่อวัน" />
                            </div>
                        </div>

                        <div class="flex flex-row">
                            <div class="w-64 pt-4 pl-4">การดื่มสุรา</div>
                            <div class="pt-4 w-20">
                                <label nz-checkbox [(ngModel)]="is_drink_alchohol">ไม่ดื่ม</label>
                            </div>
                            <div class="pt-4 w-16">มี(ระบุ)</div>
                            <div class="pt-4 mr-2">ระยะเวลา</div>
                            <div class="pt-2 w-16">
                                <input nz-input [(ngModel)]="drink_alchohol_describe_duration" placeholder="10 ปี" />
                            </div>
                            <div class="pt-4 mx-2">จำนวน</div>
                            <div class="pt-2 w-20">
                                <input nz-input [(ngModel)]="drink_alchohol_describe_qty" placeholder="2 เป๊ก" />
                            </div>
                            <div class="pt-4 mx-2">ความถี่</div>
                            <div class="pt-2 w-16">
                                <input nz-input [(ngModel)]="drink_alchohol_describe_frequency" placeholder="ต่อวัน" />
                            </div>
                        </div>

                        <div class="flex flex-row">
                            <div class="w-64 pl-4 pt-4">โรคประจำตัวหรือโรคทางพันธุกรรม</div>
                            <div class="pt-4 w-20">
                                <label nz-checkbox [(ngModel)]="is_family_disease">ไม่มี</label>
                            </div>
                            <div class="pt-4 w-16">มี(ระบุ)</div>
                            <div class="w-96 pt-2">
                                <input nz-input [(ngModel)]="family_disease_describe"
                                    placeholder="ระบุโรคประจำตัวหรือโรคทางพันธุกรรม" />
                            </div>
                        </div>

                        <div class="flex flex-row">
                            <div class="w-64 pt-4 pl-4">การคุมกำเนิด</div>
                            <div class="pt-4 w-20">
                                <label nz-checkbox [(ngModel)]="is_birth_control">ไม่มี</label>
                            </div>
                            <div class="pt-4 w-16">มี LMP</div>
                            <div class="pt-2 w-36">
                                <nz-date-picker [(ngModel)]="last_menstrual_period"
                                    (ngModelChange)="onChange($event)"></nz-date-picker>
                            </div>
                            <div class="pt-2 w-[5%]">
                                <input nz-input [(ngModel)]="gravida" placeholder="G" />
                            </div>
                            <div class="pt-2 w-[5%]">
                                <input nz-input [(ngModel)]="para" placeholder="P" />
                            </div>
                            <div class="pt-2 w-[5%]">
                                <input nz-input [(ngModel)]="abortion" placeholder="A" />
                            </div>
                            <div class="pt-2 w-[5%]">
                                <input nz-input [(ngModel)]="live_birth" placeholder="L" />
                            </div>
                            <div class="pt-2 w-[8%]">
                                <input nz-input [(ngModel)]="gestational_age" placeholder="GA" />
                            </div>
                        </div>

                        <div class="flex flex-row">
                            <div class="w-64 pl-4 pt-4">วัคซีน</div>
                            <div class="pt-4">
                                <label nz-checkbox [(ngModel)]="is_child_vaccine_complete">ครบตามเกณฑ์</label>
                            </div>
                        </div>

                        <div class="flex flex-row">
                            <div class="w-64 pl-4 pt-4">พัฒนาการ</div>
                            <div class="pt-4">
                                <label nz-checkbox [(ngModel)]="is_child_development_normal">เหมาะสมตามวัย</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full mb-2">
            <div class="flex flex-col w-full">
                <div class="flex flex-col mb-4 content-center">
                    <div class="flex text-sm font-bold">
                        V/S ส่วนสูง: {{ body_height }} ซม. น้ำหนัก: {{ body_weight }} กก. BMI:
                        {{ body_weight }} อุณหภูมิร่างกาย: {{ body_temperature }} C ความดันโลหิต:
                        {{ systolic_blood_pressure }}/{{ diatolic_blood_pressure }} mmHg.
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="8" class="border-indigo-150 font-bold border-r-2">
                        <b>Review of System</b>

                        <div class="flex flex-col w-full">
                            <div class="flex flex-row">
                                <div class="w-64 pl-2 pt-2">HEENT</div>
                                <div class="pt-2 pr-2">
                                    <label nz-checkbox [(ngModel)]="heent">ปกติ</label>
                                </div>
                            </div>

                            <div class="flex flex-row">
                                <div class="w-64 pl-2 pt-2">Heart</div>
                                <div class="pt-2 pr-2">
                                    <label nz-checkbox [(ngModel)]="heart">ปกติ</label>
                                </div>
                            </div>

                            <div class="flex flex-row">
                                <div class="w-64 pl-2 pt-2">Lung</div>
                                <div class="pt-2 pr-2">
                                    <label nz-checkbox [(ngModel)]="lung">ปกติ</label>
                                </div>
                            </div>

                            <div class="flex flex-row">
                                <div class="w-64 pl-2 pt-2">Abdomen</div>
                                <div class="pt-2 pr-2">
                                    <label nz-checkbox [(ngModel)]="abdomen">ปกติ</label>
                                </div>
                            </div>

                            <div class="flex flex-row">
                                <div class="w-64 pl-2 pt-2">Back and CVA</div>
                                <div class="pt-2 pr-2">
                                    <label nz-checkbox [(ngModel)]="back_and_cva">ปกติ</label>
                                </div>
                            </div>

                            <div class="flex flex-row">
                                <div class="w-64 pl-2 pt-2">Extremities & Skin</div>
                                <div class="pt-2 pr-2">
                                    <label nz-checkbox [(ngModel)]="extremities_and_skin">ปกติ</label>
                                </div>
                            </div>

                            <div class="flex flex-row">
                                <div class="w-64 pl-2 pt-2">Neuro Signs</div>
                                <div class="pt-2 pr-2">
                                    <label nz-checkbox [(ngModel)]="neuro_signs">ปกติ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzSpan="8" class="pl-2 font-bold border-indigo-200">
                        <div nz-row nzSpan="12" class="w-[100%] font-bold">
                            <b>Physical Examination</b>

                            <div class="flex flex-col w-[100%]">
                                <div class="flex flex-row">
                                    <div class="w-64 pl-2 pt-2">HEENT</div>
                                    <div class="pt-2 pr-2">
                                        <label nz-checkbox [(ngModel)]="pheent">ปกติ</label>
                                    </div>
                                </div>

                                <div class="flex flex-row">
                                    <div class="w-64 pl-2 pt-2">Heart</div>
                                    <div class="pt-2 pr-2">
                                        <label nz-checkbox [(ngModel)]="pheart">ปกติ</label>
                                    </div>
                                </div>

                                <div class="flex flex-row">
                                    <div class="w-64 pl-2 pt-2">Lung</div>
                                    <div class="pt-2 pr-2">
                                        <label nz-checkbox [(ngModel)]="plung">ปกติ</label>
                                    </div>
                                </div>

                                <div class="flex flex-row">
                                    <div class="w-64 pl-2 pt-2">Abdomen</div>
                                    <div class="pt-2 pr-2">
                                        <label nz-checkbox [(ngModel)]="pabdomen">ปกติ</label>
                                    </div>
                                </div>

                                <div class="flex flex-row">
                                    <div class="w-64 pl-2 pt-2">Back and CVA</div>
                                    <div class="pt-2 pr-2">
                                        <label nz-checkbox [(ngModel)]="pback_and_cva">ปกติ</label>
                                    </div>
                                </div>

                                <div class="flex flex-row">
                                    <div class="w-64 pl-2 pt-2">Extremities & Skin</div>
                                    <div class="pt-2 pr-2">
                                        <label nz-checkbox [(ngModel)]="pextremities_and_skin">ปกติ</label>
                                    </div>
                                </div>

                                <div class="flex flex-row">
                                    <div class="w-64 pl-2 pt-2">Neuro Signs</div>
                                    <div class="pt-2 pr-2">
                                        <label nz-checkbox [(ngModel)]="pneuro_signs">ปกติ</label>
                                    </div>
                                </div>

                                <div class="flex flex-row">
                                    <div class="w-64 pl-2 pt-2">General Appearance</div>
                                    <div class="pt-2 pr-2">
                                        <label nz-checkbox [(ngModel)]="general_appearance">ปกติ</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzSpan="8" class="">
                        <div nz-row nzSpan="12" class="p-5 w-full font-bold">
                            ผลตรวจร่างกายอื่นๆ<br />
                            <textarea nz-input placeholder="อื่นๆ ระบุ" [nzAutosize]="{ minRows: 8, maxRows: 20 }"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full mb-2">
            <div class="flex flex-col w-full">
                <div class="flex flex-row mb-2">
                    <span class="text-bold pl-4 pt-1 mr-2 w-32">การวินิจฉัยโรค</span> 
                    <input nz-input [(ngModel)]="diagnosis"
                    placeholder="การวินิจฉัยโรค" />    
                </div>
                <div class="flex flex-row">
                    <span class="text-bold pl-4 pt-1 mr-2 w-32">แผนการรักษา</span> 
                    <textarea nz-input placeholder="อื่นๆ ระบุ" [(ngModel)]="plan_of_treatment" [nzAutosize]="{ minRows: 2, maxRows: 5 }"></textarea>
                </div>
            </div>
        </div>
        <div class="flex w-full justify-center mb-10">
            <button nz-button class="login-form-button login-form-margin mr-3 w-32 rounded-md" [nzType]="'primary'"
                (click)="saveAdmissionNote()">
                บันทึก</button>
                <button nz-button class="login-form-button login-form-margin w-32 rounded-md bg-red-300" (click)="resetForm()">
                ยกเลิก
            </button>
        </div>
    </div>
</nz-content>