<p>dragdrop works!</p>

<!-- <div class="flex example-boundary h-52 w-200 bg-green-200 shadow"
  [ngClass]="{
    'justify-start':myEvent === 'left',
    'justify-end':myEvent === 'right',
    'justify-center content-start':myEvent === 'middle' }">
  <div class="example-box-dkk h-full w-full bg-gray-100 shadow" cdkDragBoundary=".example-boundary"
    cdkDrag
    (cdkDragStarted)="onDragStarted($event)"
    (cdkDragEnded)="onDragEnded($event)"
    [ngClass]="{
      'bg-red-400 w-3/4':myEvent === 'left',
      'bg-green-400 w-3/4':myEvent === 'right',
      'bg-amber-300 w-4/4':myEvent === 'middle' }">
    I can only be dragged within the dotted container
  </div>
</div> -->

<div class="flex w-full h-full bg-indigo-300">
  <div class="flex-none w-44 bg-neutral-200" *ngIf="myEvent==='right'">
    01
  </div>
  <div class="shrink w-full bg-slate-200">
    <div class="flex content-center items-center justify-center">
      <div class="flex-none w-fit p-0 content-center">
        <button class="bg-inherit p-0 content-center"  (click)="openPanel('right')" *ngIf="myEvent!=='right'">
          <div><i class="fa-solid fa-chevron-right text-4xl  bg-slate-100 text-slate-400 hover:text-slate-700"></i></div>
        </button>

        <button class="bg-inherit p-0 content-center"  (click)="openPanel('middle')"*ngIf="myEvent!='left' && myEvent!=='middle'">
          <div><i class="fa-solid fa-chevron-left text-4xl  bg-slate-100 text-slate-400 hover:text-slate-700"></i></div>
        </button>

      </div>
      <div class="shrink w-full">
        02
      </div>
      <div class="flex-none w-44">
        <button nz-button nzType="primary" [nzSize]="'large'"  (click)="openPanel('left')" *ngIf="myEvent!=='left'">
          <span nz-icon nzType="left-circle"></span>
        </button>
        <button nz-button nzType="primary" [nzSize]="'large'"  (click)="openPanel('middle')" *ngIf="myEvent!=='right'  && myEvent!=='middle'">
          <span nz-icon nzType="right-circle"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="flex-none w-44 h-14 bg-sky-200" *ngIf="myEvent==='left'  ">
    03
  </div>

</div>
